In [3]:
cd ..

/Users/chengjun/OneDrive - å—äº¬å¤§å­¦/10papers/causal_inference_references/RebelCa
> nal157781-V1

## Step 1: Creat the Panel with geographic and rebel Information

> Program/Clean/clean.do

In [5]:
clear all
set more off
set rmsg on

r; t=0.00 22:21:49

r; t=0.00 22:21:52

r; t=0.00 22:21:52

r; t=0.00 22:21:52

. r; t=0.00 22:21:52

ls

In [7]:
cap mkdir "Data/Interim"
cap mkdir "Data/Final"
cap mkdir "Results/Figures"
cap mkdir "Results/Tables"

r; t=0.00 22:21:55

r; t=0.00 22:22:00

r; t=0.00 22:22:00

r; t=0.00 22:22:00

r; t=0.00 22:22:00

. r; t=0.00 22:22:00

In [18]:
ssc install shp2dta

r; t=0.00 16:23:14
checking shp2dta consistency and verifying not already installed...
installing into /Users/datalab/Library/Application Support/Stata/ado/plus/...
installation complete.
r; t=6.10 16:25:56

In [8]:
shp2dta using "Data/Raw/V4wgs84/samplemap", database("Data/Interim/samplemap_d") coordinates("Data/Interim/samplemap_c") replace

r; t=0.00 22:22:00
r; t=4.53 22:23:18

In [9]:
import excel using "Data/Raw/Geo_raw.xlsx", firstrow clear // Created in ArcGIS

r; t=0.00 22:23:18
(32 vars, 1,502 obs)
r; t=1.31 22:23:24

In [10]:
keep OBJECTID NAME_PY LEV1_PY LEV2_PY X_COORD Y_COORD NEAR_FID NEAR_DIST NEAR_ANGLE
gen location=1 if NEAR_ANGLE>-90 & NEAR_ANGLE<90
replace location=-1 if NEAR_ANGLE<-90 | (NEAR_ANGLE>90 & NEAR_ANGLE<180)
drop if NEAR_FID==-1
gen T1=1 if NEAR_DIST==0
replace T1=0 if T1==.
expand 262
bysort OBJECTID: gen year=_n+1649

r; t=0.00 22:23:24

r; t=0.00 22:23:29

(143 missing values generated)
r; t=0.00 22:23:29

(143 real changes made)
r; t=0.00 22:23:29

(927 observations deleted)
r; t=0.00 22:23:29

(502 missing values generated)
r; t=0.00 22:23:29

(502 real changes made)
r; t=0.00 22:23:29

(150,075 observations created)
r; t=0.00 22:23:29

r; t=0.14 22:23:29

. r; t=0.15 22:23:29

In [11]:
save "Data/Interim/geo_panel.dta", replace

r; t=0.00 22:23:29
file Data/Interim/geo_panel.dta saved
r; t=1.97 22:23:38

In [12]:
merge 1:1 OBJECTID year using "Data/Raw/rawrebellion.dta"
drop _merge 

save "Data/Interim/temppanel1.dta", replace

r; t=0.00 22:23:38


    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------
r; t=0.48 22:23:42

r; t=0.00 22:23:42

file Data/Interim/temppanel1.dta saved
r; t=2.13 22:23:44

. r; t=2.62 22:23:44

## Step 2: Add the first set of geographic variables

```stata
*** Coast
import excel using "Data/Raw/coast.xlsx", firstrow clear
keep OBJECTID NEAR_DIST
rename NEAR_DIST distance_coast
replace distance_coast=distance_coast/1000
save "Data/Interim/coast.dta", replace
*** Huang He
import excel using "Data/Raw/ToHuang.xlsx", firstrow clear
keep OBJECTID NEAR_DIST NEAR_ANGLE
rename NEAR_DIST distance_huang
rename NEAR_ANGLE angle_huang
replace distance_huang=distance_huang/1000
gen alonghuang=1 if distance_huang==0
replace alonghuang=0 if distance_huang>0
save "Data/Interim/huang.dta", replace
*** Yangtze River
import excel using "Data/Raw/ToYangtze.xlsx", firstrow clear
keep OBJECTID NEAR_DIST
rename NEAR_DIST distance_yangtze
replace distance_yangtze=distance_yangtze/1000
gen alongyangtze=1 if distance_yangtze==0
replace alongyangtze=0 if distance_yangtze>0
save "Data/Interim/yangtze.dta", replace

*** Put together everything
use "Data/Interim/temppanel1.dta", clear
//(2) Coast
merge m:1 OBJECTID using "Data/Interim/coast.dta"
drop if _merge<3
drop _merge
//(3) Huanghe
merge m:1 OBJECTID using "Data/Interim/huang.dta"
drop if _merge<3
drop _merge
//(4) Yangtze River
merge m:1 OBJECTID using "Data/Interim/yangtze.dta"
drop if _merge<3
drop _merge
//(5) Save
save "Data/Interim/temppanel2.dta", replace 
```

In [13]:
import excel using "Data/Raw/coast.xlsx", firstrow clear

r; t=0.00 22:23:44
(32 vars, 1,502 obs)
r; t=0.96 22:25:08

In [14]:
keep OBJECTID NEAR_DIST

r; t=0.00 22:25:08
r; t=0.00 22:25:16

In [15]:
rename NEAR_DIST distance_coast

r; t=0.00 22:25:16
r; t=0.02 22:25:22

In [16]:
replace distance_coast=distance_coast/1000

r; t=0.00 22:25:22
(1,430 real changes made)
r; t=0.00 22:25:29

In [17]:
save "Data/Interim/coast.dta", replace

r; t=0.00 22:25:29
(file Data/Interim/coast.dta not found)
file Data/Interim/coast.dta saved
r; t=0.00 22:25:37

In [19]:
*** Huang He
import excel using "Data/Raw/ToHuang.xlsx", firstrow clear
keep OBJECTID NEAR_DIST NEAR_ANGLE
rename NEAR_DIST distance_huang
rename NEAR_ANGLE angle_huang
replace distance_huang=distance_huang/1000
gen alonghuang=1 if distance_huang==0
replace alonghuang=0 if distance_huang>0
save "Data/Interim/huang.dta", replace

r; t=0.00 22:55:07

(34 vars, 1,502 obs)
r; t=1.04 23:23:16

r; t=0.00 23:23:16

r; t=0.00 23:23:16

r; t=0.00 23:23:16

(1,460 real changes made)
r; t=0.00 23:23:16

(1,460 missing values generated)
r; t=0.00 23:23:16

(533 real changes made)
r; t=0.00 23:23:16

(file Data/Interim/huang.dta not found)
file Data/Interim/huang.dta saved
r; t=0.00 23:23:16

. r; t=1.04 23:23:16

In [20]:
*** Yangtze River
import excel using "Data/Raw/ToYangtze.xlsx", firstrow clear
keep OBJECTID NEAR_DIST
rename NEAR_DIST distance_yangtze
replace distance_yangtze=distance_yangtze/1000
gen alongyangtze=1 if distance_yangtze==0
replace alongyangtze=0 if distance_yangtze>0
save "Data/Interim/yangtze.dta", replace

r; t=0.00 23:23:16

(34 vars, 1,502 obs)
r; t=0.82 23:24:03

r; t=0.00 23:24:03

r; t=0.00 23:24:03

(1,484 real changes made)
r; t=0.00 23:24:03

(1,484 missing values generated)
r; t=0.00 23:24:03

(557 real changes made)
r; t=0.00 23:24:03

(file Data/Interim/yangtze.dta not found)
file Data/Interim/yangtze.dta saved
r; t=0.00 23:24:03

. r; t=0.82 23:24:03

In [21]:
*** Put together everything
use "Data/Interim/temppanel1.dta", clear
//(2) Coast
merge m:1 OBJECTID using "Data/Interim/coast.dta"
drop if _merge<3
drop _merge
//(3) Huanghe
merge m:1 OBJECTID using "Data/Interim/huang.dta"
drop if _merge<3
drop _merge
//(4) Yangtze River
merge m:1 OBJECTID using "Data/Interim/yangtze.dta"
drop if _merge<3
drop _merge
//(5) Save
save "Data/Interim/temppanel2.dta", replace

r; t=0.00 23:24:03

r; t=0.01 23:24:19


    Result                      Number of obs
    -----------------------------------------
    Not matched                           927
        from master                         0  (_merge==1)
        from using                        927  (_merge==2)

    Matched                           150,650  (_merge==3)
    -----------------------------------------
r; t=0.02 23:24:19

(927 observations deleted)
r; t=0.01 23:24:19

r; t=0.00 23:24:19


    Result                      Number of obs
    -----------------------------------------
    Not matched                           927
        from master                         0  (_merge==1)
        from using                        927  (_merge==2)

    Matched                           150,650  (_merge==3)
    -----------------------------------------
r; t=0.03 23:24:19

(927 observations deleted)
r; t=0.01 23:24:19

r; t=0.00 23:24:19


    Result                      Number of obs
    -----------------------------------------
    Not matched                           927
        from master                         0  (_merge==1)
        from using                        927  (_merge==2)

    Matched                           150,650  (_merge==3)
    -----------------------------------------
r; t=0.03 23:24:19

(927 observations deleted)
r; t=0.01 23:24:19

r; t=0.00 23:24:19

(file Data/Interim/temppanel2.dta not found)
file Data/Interim/temppanel2.dta saved
r; t=0.03 23:24:19

. r; t=0.18 23:24:19

## Step 3: Define basic variables

```stata
*****************************************************************
*** Step 3: Define basic variables
*****************************************************************
use "Data/Interim/temppanel2.dta", clear

***Dependent variables
rename upspring onset_all
gen onset_any=onset_all
replace onset_any=1 if onset_all>0
*** Treatment Variables
gen alongcanal=1 if NEAR_DIST==0
replace alongcanal=0 if NEAR_DIST>0
gen distance_canal=NEAR_DIST/1000
drop NEAR_DIST
gen alongcoast=(distance_coast==0)

*** Time Treatment
gen reform = (year>1825)
gen interaction1=alongcanal*reform
gen interaction2=distance_canal*reform
*** Time Period
gen period=ceil((year-1825)/20)*20
replace period=1000 if period<-100
tab period, gen(period)
drop period12
*** Other Variables
egen distance_toriver=rowmin(distance_huang distance_yangtze)
egen alongriver=rowmax(alonghuang alongyangtze)
*** Prefectual id and Province id
encode LEV1_PY, gen(provid)
encode LEV2_PY, gen(prefid)
bysort prefid: egen prefalong=max(alongcanal)
*** Order and Label
label variable year  "Year"
label variable reform "After Year 1825"
label variable alongcanal "Being Along the Grand Canal"
label variable alongcoast "Being Along the Coast"
label variable prefalong "Prefectures along the Grand Canal"
label variable distance_coast "Distance from the Coast (km)"
label variable distance_huang "Distance from Huang River (km)"
label variable distance_yangtze "Distance from Yangtze River (km)"
label variable distance_canal "Distance from the Grand Canal (km)"
label variable distance_toriver "The Minimum Distance from Huang/Yangtze River (km)"
label variable onset_all "Number of Onset"
label variable onset_any "Onset Dummy"
label variable attack "Number of Military Attack"
label variable defend "Number of Military Suppress"
label variable stay "Number of Rebellions Already Exist"
label variable runinto "Number of Rebels Running into"
label variable interaction1 "Along Canal $\times$ After Abolishment"
label variable interaction2 "Distance to Canal $\times$ After Abolishment"
label variable NAME_PY "Name of Counties"
label variable LEV1_PY "Name of Provinces"
label variable LEV2_PY "Name of Profectures"
label variable alonghuang "Along Huang River"
label variable alongyangtze "Along Yangtze River"
label variable alongriver "Along Huang/Yangtze River"
label variable prefid "ID of Prefectures"
label variable provid "ID of Provinces"
label variable OBJECTID "ID of Counties"
order OBJECTID year onset* interaction* reform along* distance* attack defend stay runinto 
save "Data/Interim/rebellion_temp1.dta", replace
```

In [22]:
use "Data/Interim/temppanel2.dta", clear

***Dependent variables
rename upspring onset_all
gen onset_any=onset_all
replace onset_any=1 if onset_all>0
*** Treatment Variables
gen alongcanal=1 if NEAR_DIST==0
replace alongcanal=0 if NEAR_DIST>0
gen distance_canal=NEAR_DIST/1000
drop NEAR_DIST
gen alongcoast=(distance_coast==0)

r; t=0.00 23:24:20

r; t=0.00 23:26:10

r; t=0.00 23:26:10

r; t=0.00 23:26:10

(34 real changes made)
r; t=0.00 23:26:10

(131,524 missing values generated)
r; t=0.01 23:26:10

(131,524 real changes made)
r; t=0.00 23:26:10

r; t=0.00 23:26:10

r; t=0.00 23:26:10

r; t=0.00 23:26:10

. r; t=0.05 23:26:10

In [23]:
*** Time Treatment
gen reform = (year>1825)
gen interaction1=alongcanal*reform
gen interaction2=distance_canal*reform
*** Time Period
gen period=ceil((year-1825)/20)*20
replace period=1000 if period<-100
tab period, gen(period)
drop period12

r; t=0.00 23:26:10

r; t=0.00 23:26:27

r; t=0.00 23:26:27

r; t=0.01 23:26:27

r; t=0.00 23:26:27

(32,200 real changes made)
r; t=0.00 23:26:27


     period |      Freq.     Percent        Cum.
------------+-----------------------------------
       -100 |     11,500        7.63        7.63
        -80 |     11,500        7.63       15.27
        -60 |     11,500        7.63       22.90
        -40 |     11,500        7.63       30.53
        -20 |     11,500        7.63       38.17
          0 |     11,500        7.63       45.80
         20 |     11,500        7.63       53.44
         40 |     11,500        7.63       61.07
         60 |     11,500        7.63       68.70
         80 |     11,500        7.63       76.34
        100 |      3,450        2.29       78.63
       1000 |     32,200       21.37      100.00
------------+-----------------------------------
      Total |    150,650      100.00
r; t=0.06 23:26:27

r; t=0.00 23:26:27

. r; t=0.09 23:26:27

In [24]:
*** Other Variables
egen distance_toriver=rowmin(distance_huang distance_yangtze)
egen alongriver=rowmax(alonghuang alongyangtze)
*** Prefectual id and Province id
encode LEV1_PY, gen(provid)
encode LEV2_PY, gen(prefid)
bysort prefid: egen prefalong=max(alongcanal)

r; t=0.00 23:26:27

r; t=0.03 23:26:46

r; t=0.03 23:26:46

r; t=0.06 23:26:46

r; t=0.06 23:26:46

r; t=0.13 23:26:46

. r; t=0.34 23:26:46

In [25]:
*** Order and Label
label variable year  "Year"
label variable reform "After Year 1825"
label variable alongcanal "Being Along the Grand Canal"
label variable alongcoast "Being Along the Coast"
label variable prefalong "Prefectures along the Grand Canal"
label variable distance_coast "Distance from the Coast (km)"
label variable distance_huang "Distance from Huang River (km)"
label variable distance_yangtze "Distance from Yangtze River (km)"
label variable distance_canal "Distance from the Grand Canal (km)"
label variable distance_toriver "The Minimum Distance from Huang/Yangtze River (km)"
label variable onset_all "Number of Onset"
label variable onset_any "Onset Dummy"
label variable attack "Number of Military Attack"
label variable defend "Number of Military Suppress"
label variable stay "Number of Rebellions Already Exist"
label variable runinto "Number of Rebels Running into"
label variable interaction1 "Along Canal $\times$ After Abolishment"
label variable interaction2 "Distance to Canal $\times$ After Abolishment"
label variable NAME_PY "Name of Counties"
label variable LEV1_PY "Name of Provinces"
label variable LEV2_PY "Name of Profectures"
label variable alonghuang "Along Huang River"
label variable alongyangtze "Along Yangtze River"
label variable alongriver "Along Huang/Yangtze River"
label variable prefid "ID of Prefectures"
label variable provid "ID of Provinces"
label variable OBJECTID "ID of Counties"
order OBJECTID year onset* interaction* reform along* distance* attack defend stay runinto 
save "Data/Interim/rebellion_temp1.dta", replace

r; t=0.00 23:26:46

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.00 23:27:01

r; t=0.08 23:27:01

(file Data/Interim/rebellion_temp1.dta not found)
file Data/Interim/rebellion_temp1.dta saved
r; t=0.04 23:27:01

. r; t=0.12 23:27:01

## Step 4: Prepare the additional variables to add

```stata
*****************************************************************
*** Step 4: Prepare the additional variables to add
*****************************************************************
*** Ruggedness
run "Program/Clean/clean_ruggedness.do"  // Output saved as "Data/Interim/ruggedness.dta"

*** Courier Route
clear
import delimited using "Data/Raw/nearcourier.txt", clear
keep in_fid near_dist
rename in_fid OBJECTID
rename near_dist distance_courier
gen alongcourier=(distance_courier==0)
label variable alongcourier "Along the Qing Courier Routes"
label variable distance_courier "Distance to the Qing Courier Routes"
save "Data/Interim/distcourier.dta", replace

*** Taiping
import excel using "Data/Raw/taipingregion.xlsx", firstrow clear
rename OBJECTID Shpid
keep Shpid Taiping
label variable Taiping "Taiping Heavenly Kingdom Severity"
save "Data/Interim/taiping.dta", replace

*** Military
import excel using "Data/Raw/Soldier_all.xlsx", firstrow clear
drop if OBJECTID==.
collapse (sum) soldier, by(OBJECTID)
save "Data/Interim/soldier.dta", replace

*** Crop and Suitability
shp2dta using "Data/Raw/suitability/joinwheat", database("Data/Interim/wheat_d") coordinates("Data/Interim/wheat_c") replace 
use "Data/Interim/wheat_d.dta", clear
keep OBJECTID Avg_grid_c _ID
rename Avg_grid_c si_wheat
gen suitable_wheat_good=(si_wheat>=5500)
label variable OBJECTID "Countycode"
label variable si_wheat "Suitability Index for Wheat (Irrigation, M Input)"
label variable suitable_wheat_good "Good or Better (SI>=5500) for Wheat (Irrigation, M Input)"
save "Data/Interim/wheat_suitability.dta", replace

import delimited using "Data/Raw/suitability/wlrice.txt", clear
keep objectid avg_grid_code objectid_12
rename objectid OBJECTID
rename avg_grid_code si_rice
rename objectid_12 _ID
gen suitable_rice_good=(si_rice>=5500)
label variable OBJECTID "Countycode"
label variable si_rice "Suitability Index for Wetland Rice (Irrigation, M Input)"
label variable suitable_rice_good "Good or Better (SI>=5500) for Wetland Rice (Irrigation, M Input)"
save "Data/Interim/rice_suitability.dta", replace

*** Climate
run "Program/Clean/clean_mann.do"  // Output saved as "Data/Interim/mann_recon.dta"
use "Data/Raw/climate500.dta", clear
rename id Maizeid
label variable year "Year"
label variable climate "1-Drought to 5-Flood"
save "Data/Interim/climate500.dta", replace

*** Towns, location of Chongs and county admins
shp2dta using "Data/Raw/towns/town1820", database("Data/Interim/town1820_d") coordinates("Data/Interim/town1820_c") replace
shp2dta using "Data/Raw/towns/town1911", database("Data/Interim/town1911_d") coordinates("Data/Interim/town1911_c") replace
shp2dta using "Data/Raw/Chong/chong", database("Data/Interim/chong_d") coordinates("Data/Interim/chong_c") replace
shp2dta using "Data/Raw/countyadmin/countyadmin", database("Data/Interim/ctadmin_d") coordinates("Data/Interim/ctadmin_c") replace

**** First import the distance data
foreach pts in admin chong town1820 town1911 {
	foreach nr in tocanal tocourier {
		import delimited using "Data/Raw/Canal/`pts'`nr'.txt", clear
		rename objectid `pts'
		rename near_dist pts_`nr'
		keep `pts' pts_`nr'
		save "Data/Interim/`pts'`nr'.dta", replace
	}
}
**** Chong
use "Data/Interim/chong_d.dta", clear
rename _ID chong
merge 1:1 chong using "Data/Interim/chongtocanal.dta"
drop _merge
merge 1:1 chong using "Data/Interim/chongtocourier.dta"
drop _merge
duplicates drop W72_LAT W71_LONG, force
geoinpoly W72_LAT W71_LONG using "Data/Interim/samplemap_c.dta"
drop if _ID==.
merge m:1 _ID using "Data/Interim/samplemap_d.dta"
collapse (count) chong (min) pts_tocanal pts_tocourier, by(OBJECTID)
rename pts_tocanal chong_canal
rename pts_tocourier chong_courier
replace chong_canal=chong_canal/1000
replace chong_courier=chong_courier/1000
label variable chong "1820 Busy Xian (Chong)"
label variable chong_canal "Distance from Chong to Canal"
label variable chong_courier "Distance from Chong to Courier"
save "Data/Interim/chong.dta", replace
**** County Administration Area
use "Data/Interim/ctadmin_d.dta", clear
rename _ID admin
merge 1:1 admin using "Data/Interim/admintocanal.dta"
drop _merge
merge 1:1 admin using "Data/Interim/admintocourier.dta"
drop _merge
duplicates drop X_COORD Y_COORD, force
geoinpoly Y_COORD X_COORD using "Data/Interim/samplemap_c.dta"
drop if _ID==.
drop OBJECTID
merge m:1 _ID using "Data/Interim/samplemap_d.dta"
collapse (count) admin (min) pts_tocanal pts_tocourier, by(OBJECTID)
rename pts_tocanal ctadmin_canal
rename pts_tocourier ctadmin_courier
replace ctadmin_canal=ctadmin_canal/1000
replace ctadmin_courier=ctadmin_courier/1000
label variable admin "County Administration Area Recorded"
label variable ctadmin_canal "Distance from County Administration Area to Canal (km)"
label variable ctadmin_courier "Distance from County Administration Area to Courier (km)"
save "Data/Interim/ctadmin.dta", replace
**** Town1820
use "Data/Interim/town1820_d.dta", clear
rename _ID town1820
merge 1:1 town1820 using "Data/Interim/town1820tocanal.dta"
drop _merge
merge 1:1 town1820 using "Data/Interim/town1820tocourier.dta"
drop _merge
duplicates drop Y_COORD X_COORD, force
geoinpoly Y_COORD X_COORD using "Data/Interim/samplemap_c.dta"
drop if _ID==.
drop SYS_ID
merge m:1 _ID using "Data/Interim/samplemap_d.dta"
foreach i in canal courier{
	gen r10`i'=(pts_to`i'/1000<=10)
	local radius `radius' r10`i'
}
gen r10both=(pts_tocanal/1000<=10) & (pts_tocourier/1000<=10)
local radius `radius' r10both
disp "`radius'"
collapse (count) town1820 (mean) AREA pts_tocanal pts_tocourier (sum) `radius', by(OBJECTID)
rename pts_tocanal town1820_canal_avg
rename pts_tocourier town1820_courier_avg
gen town1820density=town1820/AREA
replace town1820_canal_avg=town1820_canal_avg/1000
replace town1820_courier_avg=town1820_courier_avg/1000 
foreach i in canal courier both {
   rename r10`i' town1820_r10`i'
   label variable town1820_r10`i' "# of 1820 Towns within 10 km to `i'"
}
label variable town1820 "Number of Towns in 1820"
label variable town1820density "Number of Towns per $ km^2 $ in 1820"
label variable town1820_canal_avg "Avg distance from 1820 town to canal"
label variable town1820_courier_avg "Avg distance from 1820 town to courier"
drop AREA
save "Data/Interim/town1820.dta", replace
**** Town1911
use "Data/Interim/town1911_d.dta", clear
rename _ID town1911
merge 1:1 town1911 using "Data/Interim/town1911tocanal.dta"
drop _merge
merge 1:1 town1911 using "Data/Interim/town1911tocourier.dta"
drop _merge
duplicates drop Y_COORD X_COORD, force
geoinpoly Y_COORD X_COORD using "Data/Interim/samplemap_c.dta"
drop if _ID==.
drop SYS_ID NOTE_ID
merge m:1 _ID using "Data/Interim/samplemap_d.dta"
foreach i in canal courier{
	gen r10`i'=(pts_to`i'/1000<=10)
	local radius1 `radius1' r10`i'
}
gen r10both=(pts_tocanal/1000<=10) & (pts_tocourier/1000<=10)
local radius1 `radius1' r10both
disp "`radius'"
collapse (count) town1911 (mean) AREA pts_tocanal pts_tocourier (sum) `radius1', by(OBJECTID)
rename pts_tocanal town1911_canal_avg
rename pts_tocourier town1911_courier_avg
gen town1911density=town1911/AREA
replace town1911_canal_avg=town1911_canal_avg/1000
replace town1911_courier_avg=town1911_courier_avg/1000 
foreach i in canal courier both {
   rename r10`i' town1911_r10`i'
   label variable town1911_r10`i' "# of 1911 Towns within 10 km to `i'"
}
label variable town1911 "Number of Towns in 1911"
label variable town1911density "Number of Towns per $ km^2 $ in 1911"
label variable town1911_canal_avg "Avg distance from 1911 town to canal"
label variable town1911_courier_avg "Avg distance from 1911 town to courier"
drop AREA
save "Data/Interim/town1911.dta", replace

*** Intensity of treatment
shp2dta using "Data/Raw/Canal/canal", database("Data/Interim/canal_d") coordinates("Data/Interim/canal_c") replace
use "Data/Interim/canal_c.dta", clear
rename _ID rvid
geoinpoly _Y _X using "Data/Interim/samplemap_c.dta"
duplicates drop _ID, force
drop if _ID==.
gen cross=1
keep _ID cross
save "Data/Interim/crosscounty.dta", replace
 
import delimited using "Data/Raw/CanalProj/intertab.txt", clear
rename objectid_1 OBJECTID
keep OBJECTID length
collapse (sum) length, by(OBJECTID)
merge 1:1 OBJECTID using "Data/Interim/samplemap_d.dta"
drop _merge
merge 1:1 _ID using "Data/Interim/crosscounty.dta"
drop _merge
replace length=length*cross
sum length
disp r(sum)
keep OBJECTID _ID length AREA
gen canal_den=length/AREA*100
rename length canal_length
replace canal_length=0 if canal_length==.
replace canal_den=0 if canal_den==.
label variable canal_length "Length of Canal"
label variable canal_den "Length of Canal per 100 $ km^2 $"
save "Data/Interim/canalden.dta", replace

*** Obtain additional data from Chen and Kung (2016)
use "Data/Raw/maize_raw_data.dta", clear 
bysort id: egen sd=mean(shuidao)
bysort id: egen ar=mean(area)
replace shuidao=sd
replace area=ar
drop sd ar
gen popden=exp(popden_ln)
drop popden_ln
rename area area_pref
reshape wide popden wage urbanshare, i(id) j(year)
rename id Maizeid
rename adopyear maizeyear
rename shuidao riceregion
rename sweetpotato swtpotatoyear
label variable maizeyear "Year of Maize Adoption"
label variable riceregion "Region of Rice Plantation"
label variable swtpotatoyear "Year of Sweet Potato Adoption"
expand 262
bysort Maizeid: gen year=_n+1649
gen maize=(year>=maizeyear)
gen sweetpotato=(year>=swtpotatoyear)
label variable maize "Maize Adopted"
label variable sweetpotato "Sweet Potato Adopted"
save "Data/Interim/maize.dta", replace
```

#### ä¸‹é¢ðŸ‘‡ðŸ»è¿™äº›ä»£ç éœ€è¦è·‘å‡ åˆ†é’Ÿæˆ–åå‡ åˆ†é’Ÿæ—¶é—´

In [26]:
*** Ruggedness
run "Program/Clean/clean_ruggedness.do"  // Output saved as "Data/Interim/ruggedness.dta"

*** Courier Route
clear
import delimited using "Data/Raw/nearcourier.txt", clear
keep in_fid near_dist
rename in_fid OBJECTID
rename near_dist distance_courier
gen alongcourier=(distance_courier==0)
label variable alongcourier "Along the Qing Courier Routes"
label variable distance_courier "Distance to the Qing Courier Routes"
save "Data/Interim/distcourier.dta", replace

r; t=0.00 23:27:01

r; t=410.12 23:35:09

r; t=0.00 23:35:09

(encoding automatically selected: ISO-8859-1)
(4 vars, 575 obs)
r; t=0.77 23:35:10

r; t=0.00 23:35:10

r; t=0.00 23:35:10

r; t=0.00 23:35:10

r; t=0.00 23:35:10

r; t=0.00 23:35:10

r; t=0.00 23:35:10

(file Data/Interim/distcourier.dta not found)
file Data/Interim/distcourier.dta saved
r; t=0.00 23:35:10

. r; t=410.89 23:35:10

In [27]:
*** Taiping
import excel using "Data/Raw/taipingregion.xlsx", firstrow clear
rename OBJECTID Shpid
keep Shpid Taiping
label variable Taiping "Taiping Heavenly Kingdom Severity"
save "Data/Interim/taiping.dta", replace

*** Military
import excel using "Data/Raw/Soldier_all.xlsx", firstrow clear
drop if OBJECTID==.
collapse (sum) soldier, by(OBJECTID)
save "Data/Interim/soldier.dta", replace

r; t=0.00 23:35:10

(6 vars, 87 obs)
r; t=0.42 23:37:23

r; t=0.00 23:37:23

r; t=0.00 23:37:23

r; t=0.00 23:37:23

(file Data/Interim/taiping.dta not found)
file Data/Interim/taiping.dta saved
r; t=0.00 23:37:23

(2 vars, 371 obs)
r; t=0.37 23:37:23

(142 observations deleted)
r; t=0.00 23:37:23

r; t=0.01 23:37:23

(file Data/Interim/soldier.dta not found)
file Data/Interim/soldier.dta saved
r; t=0.00 23:37:23

. r; t=0.80 23:37:23

In [28]:
*** Crop and Suitability
shp2dta using "Data/Raw/suitability/joinwheat", database("Data/Interim/wheat_d") coordinates("Data/Interim/wheat_c") replace 
use "Data/Interim/wheat_d.dta", clear
keep OBJECTID Avg_grid_c _ID
rename Avg_grid_c si_wheat
gen suitable_wheat_good=(si_wheat>=5500)
label variable OBJECTID "Countycode"
label variable si_wheat "Suitability Index for Wheat (Irrigation, M Input)"
label variable suitable_wheat_good "Good or Better (SI>=5500) for Wheat (Irrigation, M Input)"
save "Data/Interim/wheat_suitability.dta", replace

import delimited using "Data/Raw/suitability/wlrice.txt", clear
keep objectid avg_grid_code objectid_12
rename objectid OBJECTID
rename avg_grid_code si_rice
rename objectid_12 _ID
gen suitable_rice_good=(si_rice>=5500)
label variable OBJECTID "Countycode"
label variable si_rice "Suitability Index for Wetland Rice (Irrigation, M Input)"
label variable suitable_rice_good "Good or Better (SI>=5500) for Wetland Rice (Irrigation, M Input)"
save "Data/Interim/rice_suitability.dta", replace

r; t=0.00 23:37:23

r; t=1.24 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

(file Data/Interim/wheat_suitability.dta not found)
file Data/Interim/wheat_suitability.dta saved
r; t=0.00 23:37:52

(encoding automatically selected: UTF-8)
(36 vars, 575 obs)
r; t=0.40 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

r; t=0.00 23:37:52

(file Data/Interim/rice_suitability.dta not found)
file Data/Interim/rice_suitability.dta saved
r; t=0.00 23:37:52

. r; t=1.65 23:37:52

In [29]:
*** Climate
run "Program/Clean/clean_mann.do"  // Output saved as "Data/Interim/mann_recon.dta"
use "Data/Raw/climate500.dta", clear
rename id Maizeid
label variable year "Year"
label variable climate "1-Drought to 5-Flood"
save "Data/Interim/climate500.dta", replace

r; t=0.00 23:37:52

r; t=38.42 23:38:58

r; t=0.65 23:38:59

r; t=0.00 23:38:59

r; t=0.00 23:38:59

r; t=0.00 23:38:59

(file Data/Interim/climate500.dta not found)
file Data/Interim/climate500.dta saved
r; t=0.00 23:38:59

. r; t=39.06 23:38:59

In [30]:
*** Towns, location of Chongs and county admins
shp2dta using "Data/Raw/towns/town1820", database("Data/Interim/town1820_d") coordinates("Data/Interim/town1820_c") replace
shp2dta using "Data/Raw/towns/town1911", database("Data/Interim/town1911_d") coordinates("Data/Interim/town1911_c") replace
shp2dta using "Data/Raw/Chong/chong", database("Data/Interim/chong_d") coordinates("Data/Interim/chong_c") replace
shp2dta using "Data/Raw/countyadmin/countyadmin", database("Data/Interim/ctadmin_d") coordinates("Data/Interim/ctadmin_c") replace

r; t=0.00 23:38:59

r; t=6.61 23:39:44

r; t=32.06 23:40:17

r; t=3.90 23:40:20

Data/Raw/countyadmin/countyadmin.shp: point, polyine, or polygon shapefile requi
> red

r(610);

 t=0.00 23:40:20

r(610);

 t=42.57 23:40:20

In [4]:
shp2dta using "Data/Raw/countyadmin/countyadmin", database("Data/Interim/ctadmin_d") coordinates("Data/Interim/ctadmin_c") replace

type: 8

çŒœæµ‹å¯èƒ½çš„åŽŸå› ä¹Ÿè®¸ä¼šå’Œshp2dtaå‘½ä»¤çš„ç‰ˆæœ¬æœ‰å…³ã€‚æ ¹æ®å‘½ä»¤çš„ado fileæ˜¾ç¤ºï¼Œè¯¥å‘½ä»¤2015å¹´7æœˆ15æ—¥ä»¥å‰çš„ç‰ˆæœ¬ä»…æ”¯æŒç‰¹å®šç±»åž‹çš„shapefileï¼Œ2015å¹´7æœˆ15æ—¥æ›´æ–°çš„1.0.8ç‰ˆæ”¯æŒæ‰€æœ‰çš„shapefileç±»åž‹ã€‚

1. æˆ‘ä½¿ç”¨çš„æ˜¯macç”µè„‘ï¼Œssc install shp2dtaçš„ç‰ˆæœ¬è¿‡ä½Žï¼›

```
which shp2dta

/Applications/Stata/ado/base/s/shp2dta.ado
*! version 1.0.6 02aug2011
```


2. ä»Žè¿™é‡Œ http://fmwww.bc.edu/repec/bocode/s/shp2dta.ado ä¸‹è½½shp2dtaå¹¶æ›¿æ¢ /Applications/Stata/ado/base/s/shp2dta.ado



è¿™æ ·å°±å¯ä»¥è¿è¡Œäº†ã€‚

In [41]:

net install shp2dta, from("http://fmwww.bc.edu/RePEc/bocode/s/") replace

r; t=0.00 11:25:09
checking shp2dta consistency and verifying not already installed...
all files already exist and are up to date.
r; t=3.81 11:26:36

In [46]:
which shp2dta

r; t=0.00 11:44:10
/Applications/Stata/ado/base/s/shp2dta.ado
*! version 1.0.9 15jul2015
r; t=0.00 11:45:04

In [31]:
**** First import the distance data
foreach pts in admin chong town1820 town1911 {
	foreach nr in tocanal tocourier {
		import delimited using "Data/Raw/Canal/`pts'`nr'.txt", clear
		rename objectid `pts'
		rename near_dist pts_`nr'
		keep `pts' pts_`nr'
		save "Data/Interim/`pts'`nr'.dta", replace
	}
}

r; t=0.00 23:40:20

(encoding automatically selected: ISO-8859-1)
(4 vars, 1,426 obs)
(file Data/Interim/admintocanal.dta not found)
file Data/Interim/admintocanal.dta saved
(encoding automatically selected: ISO-8859-1)
(4 vars, 1,426 obs)
(file Data/Interim/admintocourier.dta not found)
file Data/Interim/admintocourier.dta saved
(encoding automatically selected: ISO-8859-1)
(4 vars, 585 obs)
(file Data/Interim/chongtocanal.dta not found)
file Data/Interim/chongtocanal.dta saved
(encoding automatically selected: ISO-8859-1)
(4 vars, 585 obs)
(file Data/Interim/chongtocourier.dta not found)
file Data/Interim/chongtocourier.dta saved
(encoding automatically selected: ISO-8859-1)
(4 vars, 8,659 obs)
(file Data/Interim/town1820tocanal.dta not found)
file Data/Interim/town1820tocanal.dta saved
(encoding automatically selected: ISO-8859-1)
(4 vars, 8,659 obs)
(file Data/Interim/town1820tocourier.dta not found)
file Data/Interim/town1820tocourier.dta saved
(encoding automatically selected: ISO-8859-1)
(4 vars, 40,020 obs)
(file Data/Interim/town1911tocanal.dta not found)
file Data/Interim/town1911tocanal.dta saved
(encoding automatically selected: ISO-8859-1)
(4 vars, 40,020 obs)
(file Data/Interim/town1911tocourier.dta not found)
file Data/Interim/town1911tocourier.dta saved
r; t=3.66 11:15:53

. r; t=3.66 11:15:53

In [32]:
**** Chong
use "Data/Interim/chong_d.dta", clear
rename _ID chong
merge 1:1 chong using "Data/Interim/chongtocanal.dta"
drop _merge
merge 1:1 chong using "Data/Interim/chongtocourier.dta"
drop _merge
duplicates drop W72_LAT W71_LONG, force
geoinpoly W72_LAT W71_LONG using "Data/Interim/samplemap_c.dta"
drop if _ID==.
merge m:1 _ID using "Data/Interim/samplemap_d.dta"
collapse (count) chong (min) pts_tocanal pts_tocourier, by(OBJECTID)
rename pts_tocanal chong_canal
rename pts_tocourier chong_courier
replace chong_canal=chong_canal/1000
replace chong_courier=chong_courier/1000
label variable chong "1820 Busy Xian (Chong)"
label variable chong_canal "Distance from Chong to Canal"
label variable chong_courier "Distance from Chong to Courier"
save "Data/Interim/chong.dta", replace

r; t=0.00 11:15:53

r; t=0.00 11:16:17

r; t=0.00 11:16:17


    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                               585  (_merge==3)
    -----------------------------------------
r; t=0.00 11:16:17

r; t=0.00 11:16:17


    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                               585  (_merge==3)
    -----------------------------------------
r; t=0.00 11:16:17

r; t=0.00 11:16:17


Duplicates in terms of W72_LAT W71_LONG

(18 observations deleted)
r; t=0.00 11:16:17

r; t=0.40 11:16:18

(365 observations deleted)
r; t=0.00 11:16:18


    Result                      Number of obs
    -----------------------------------------
    Not matched                           374
        from master                         0  (_merge==1)
        from using                        374  (_merge==2)

    Matched                               202  (_merge==3)
    -----------------------------------------
r; t=0.00 11:16:18

r; t=0.00 11:16:18

r; t=0.00 11:16:18

r; t=0.00 11:16:18

(201 real changes made)
r; t=0.00 11:16:18

(201 real changes made)
r; t=0.00 11:16:18

r; t=0.00 11:16:18

r; t=0.00 11:16:18

r; t=0.00 11:16:18

(file Data/Interim/chong.dta not found)
file Data/Interim/chong.dta saved
r; t=0.00 11:16:18

. r; t=0.43 11:16:18

In [49]:
**** County Administration Area
use "Data/Interim/ctadmin_d.dta", clear
rename _ID admin
merge 1:1 admin using "Data/Interim/admintocanal.dta"
drop _merge
merge 1:1 admin using "Data/Interim/admintocourier.dta"
drop _merge
duplicates drop X_COORD Y_COORD, force
geoinpoly Y_COORD X_COORD using "Data/Interim/samplemap_c.dta"
drop if _ID==.
drop OBJECTID
merge m:1 _ID using "Data/Interim/samplemap_d.dta"
collapse (count) admin (min) pts_tocanal pts_tocourier, by(OBJECTID)
rename pts_tocanal ctadmin_canal
rename pts_tocourier ctadmin_courier
replace ctadmin_canal=ctadmin_canal/1000
replace ctadmin_courier=ctadmin_courier/1000
label variable admin "County Administration Area Recorded"
label variable ctadmin_canal "Distance from County Administration Area to Canal (km)"
label variable ctadmin_courier "Distance from County Administration Area to Courier (km)"
save "Data/Interim/ctadmin.dta", replace

r; t=0.00 11:45:12

r; t=0.00 11:49:26

r; t=0.00 11:49:26


    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                             1,426  (_merge==3)
    -----------------------------------------
r; t=0.00 11:49:26

r; t=0.00 11:49:26


    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                             1,426  (_merge==3)
    -----------------------------------------
r; t=0.00 11:49:26

r; t=0.00 11:49:26


Duplicates in terms of X_COORD Y_COORD

(25 observations deleted)
r; t=0.00 11:49:26

r; t=0.46 11:49:27

(869 observations deleted)
r; t=0.00 11:49:27

r; t=0.00 11:49:27

(variable OBJ_TYPE was str5, now str7 to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                            43
        from master                         0  (_merge==1)
        from using                         43  (_merge==2)

    Matched                               532  (_merge==3)
    -----------------------------------------
r; t=0.00 11:49:27

r; t=0.00 11:49:27

r; t=0.00 11:49:27

r; t=0.00 11:49:27

(532 real changes made)
r; t=0.00 11:49:27

(532 real changes made)
r; t=0.00 11:49:27

r; t=0.00 11:49:27

r; t=0.00 11:49:27

r; t=0.00 11:49:27

(file Data/Interim/ctadmin.dta not found)
file Data/Interim/ctadmin.dta saved
r; t=0.00 11:49:27

. r; t=0.48 11:49:27

In [5]:
**** Town1820
use "Data/Interim/town1820_d.dta", clear
rename _ID town1820
merge 1:1 town1820 using "Data/Interim/town1820tocanal.dta"
drop _merge
merge 1:1 town1820 using "Data/Interim/town1820tocourier.dta"
drop _merge
duplicates drop Y_COORD X_COORD, force
geoinpoly Y_COORD X_COORD using "Data/Interim/samplemap_c.dta"
drop if _ID==.
drop SYS_ID
merge m:1 _ID using "Data/Interim/samplemap_d.dta"
foreach i in canal courier{
	gen r10`i'=(pts_to`i'/1000<=10)
	local radius `radius' r10`i'
}
gen r10both=(pts_tocanal/1000<=10) & (pts_tocourier/1000<=10)
local radius `radius' r10both
disp "`radius'"
collapse (count) town1820 (mean) AREA pts_tocanal pts_tocourier (sum) `radius', by(OBJECTID)
rename pts_tocanal town1820_canal_avg
rename pts_tocourier town1820_courier_avg
gen town1820density=town1820/AREA
replace town1820_canal_avg=town1820_canal_avg/1000
replace town1820_courier_avg=town1820_courier_avg/1000 
foreach i in canal courier both {
   rename r10`i' town1820_r10`i'
   label variable town1820_r10`i' "# of 1820 Towns within 10 km to `i'"
}
label variable town1820 "Number of Towns in 1820"
label variable town1820density "Number of Towns per $ km^2 $ in 1820"
label variable town1820_canal_avg "Avg distance from 1820 town to canal"
label variable town1820_courier_avg "Avg distance from 1820 town to courier"
drop AREA
save "Data/Interim/town1820.dta", replace

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                             8,659  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                             8,659  (_merge==3)
    -----------------------------------------



Duplicates in terms of Y_COORD X_COORD

(14 observations deleted)


(5,957 observations deleted)


(variable DYN_PY was str8, now str9 to accommodate using data's values)
(variable NOTE_ID was int, now long to accommodate using data's values)
(variable OBJ_TYPE was str5, now str7 to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                            46
        from master                         0  (_merge==1)
        from using                         46  (_merge==2)

    Matched                             2,689  (_merge==3)
    -----------------------------------------




r10canal r10courier r10both





(529 real changes made)

(529 real changes made)







(file Data/Interim/town1820.dta not found)
file Data/Interim/town1820.dta saved

In [6]:
**** Town1911
use "Data/Interim/town1911_d.dta", clear
rename _ID town1911
merge 1:1 town1911 using "Data/Interim/town1911tocanal.dta"
drop _merge
merge 1:1 town1911 using "Data/Interim/town1911tocourier.dta"
drop _merge
duplicates drop Y_COORD X_COORD, force
geoinpoly Y_COORD X_COORD using "Data/Interim/samplemap_c.dta"
drop if _ID==.
drop SYS_ID NOTE_ID
merge m:1 _ID using "Data/Interim/samplemap_d.dta"
foreach i in canal courier{
	gen r10`i'=(pts_to`i'/1000<=10)
	local radius1 `radius1' r10`i'
}
gen r10both=(pts_tocanal/1000<=10) & (pts_tocourier/1000<=10)
local radius1 `radius1' r10both
disp "`radius'"
collapse (count) town1911 (mean) AREA pts_tocanal pts_tocourier (sum) `radius1', by(OBJECTID)
rename pts_tocanal town1911_canal_avg
rename pts_tocourier town1911_courier_avg
gen town1911density=town1911/AREA
replace town1911_canal_avg=town1911_canal_avg/1000
replace town1911_courier_avg=town1911_courier_avg/1000 
foreach i in canal courier both {
   rename r10`i' town1911_r10`i'
   label variable town1911_r10`i' "# of 1911 Towns within 10 km to `i'"
}
label variable town1911 "Number of Towns in 1911"
label variable town1911density "Number of Towns per $ km^2 $ in 1911"
label variable town1911_canal_avg "Avg distance from 1911 town to canal"
label variable town1911_courier_avg "Avg distance from 1911 town to courier"
drop AREA
save "Data/Interim/town1911.dta", replace

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                            40,020  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                            40,020  (_merge==3)
    -----------------------------------------



Duplicates in terms of Y_COORD X_COORD

(24 observations deleted)


(28,316 observations deleted)


(variable DYN_PY was str8, now str9 to accommodate using data's values)
(variable OBJ_TYPE was str5, now str7 to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                            11,681  (_merge==3)
    -----------------------------------------




r10canal r10courier r10both





(575 real changes made)

(575 real changes made)







(file Data/Interim/town1911.dta not found)
file Data/Interim/town1911.dta saved

In [7]:
*** Intensity of treatment
shp2dta using "Data/Raw/Canal/canal", database("Data/Interim/canal_d") coordinates("Data/Interim/canal_c") replace
use "Data/Interim/canal_c.dta", clear
rename _ID rvid
geoinpoly _Y _X using "Data/Interim/samplemap_c.dta"
duplicates drop _ID, force
drop if _ID==.
gen cross=1
keep _ID cross
save "Data/Interim/crosscounty.dta", replace
 
import delimited using "Data/Raw/CanalProj/intertab.txt", clear
rename objectid_1 OBJECTID
keep OBJECTID length
collapse (sum) length, by(OBJECTID)
merge 1:1 OBJECTID using "Data/Interim/samplemap_d.dta"
drop _merge
merge 1:1 _ID using "Data/Interim/crosscounty.dta"
drop _merge
replace length=length*cross
sum length
disp r(sum)
keep OBJECTID _ID length AREA
gen canal_den=length/AREA*100
rename length canal_length
replace canal_length=0 if canal_length==.
replace canal_den=0 if canal_den==.
label variable canal_length "Length of Canal"
label variable canal_den "Length of Canal per 100 $ km^2 $"
save "Data/Interim/canalden.dta", replace

type: 3





Duplicates in terms of _ID

(1,563 observations deleted)

(1 observation deleted)



(file Data/Interim/crosscounty.dta not found)
file Data/Interim/crosscounty.dta saved

(encoding automatically selected: ISO-8859-1)
(6 vars, 103 obs)





    Result                      Number of obs
    -----------------------------------------
    Not matched                           479
        from master                         0  (_merge==1)
        from using                        479  (_merge==2)

    Matched                                96  (_merge==3)
    -----------------------------------------


(variable _ID was int, now long to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                           511
        from master                       511  (_merge==1)
        from using                          0  (_merge==2)

    Matched                                64  (_merge==3)
    -----------------------------------------


(32 real changes made, 32 to missing)


    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
      length |         64    37.01195    19.49873   5.687044   91.44369

2368.7646


(511 missing values generated)


(511 real changes made)

(511 real changes made)



(file Data/Interim/canalden.dta not found)
file Data/Interim/canalden.dta saved

In [8]:
*** Obtain additional data from Chen and Kung (2016)
use "Data/Raw/maize_raw_data.dta", clear 
bysort id: egen sd=mean(shuidao)
bysort id: egen ar=mean(area)
replace shuidao=sd
replace area=ar
drop sd ar
gen popden=exp(popden_ln)
drop popden_ln
rename area area_pref
reshape wide popden wage urbanshare, i(id) j(year)
rename id Maizeid
rename adopyear maizeyear
rename shuidao riceregion
rename sweetpotato swtpotatoyear
label variable maizeyear "Year of Maize Adoption"
label variable riceregion "Region of Rice Plantation"
label variable swtpotatoyear "Year of Sweet Potato Adoption"
expand 262
bysort Maizeid: gen year=_n+1649
gen maize=(year>=maizeyear)
gen sweetpotato=(year>=swtpotatoyear)
label variable maize "Maize Adopted"
label variable sweetpotato "Sweet Potato Adopted"
save "Data/Interim/maize.dta", replace

(6 missing values generated)

(80 real changes made)

(434 real changes made)


(8 missing values generated)



(j = 1600 1776 1820 1851 1880 1910)

Data                               Long   ->   Wide
-----------------------------------------------------------------------------
Number of observations              480   ->   80
Number of variables                   9   ->   23
j variable (6 values)              year   ->   (dropped)
xij variables:
                                 popden   ->   popden1600 popden1776 ... popden1
> 910
                                   wage   ->   wage1600 wage1776 ... wage1910
                             urbanshare   ->   urbanshare1600 urbanshare1776 ...
>  urbanshare1910
-----------------------------------------------------------------------------








(20,880 observations created)






(file Data/Interim/maize.dta not found)
file Data/Interim/maize.dta saved

## Step 5: Merge the Additional Variables created in previous step
```stata
*****************************************************************
*** Step 5: Merge the Additional Variables created in previous step
*****************************************************************
***First, merge data at the prefecture level
import excel using "Data/Raw/PrefwID.xlsx", firstrow clear // crosswalk between datasets, manually created by authors
keep lev2id Shpid Maizeid
gen oid=_n
expand 262
bysort oid: gen year=_n+1649
*** Taiping
merge m:1 Shpid using "Data/Interim/taiping.dta"
replace Taiping=0 if Taiping==.
drop _merge
*** Climate500
merge m:1 Maizeid year using "Data/Interim/climate500.dta"
drop if _merge==2
drop _merge
*** Grain Price
rename Maizeid id
merge m:1 id year using "Data/Raw/grainprice.dta"
drop if _merge==2
rename id Maizeid
drop _merge
label variable mp "Average Grain Price (Tael/KCal)"
*** Other variables from Chen and Kung (2016)
merge m:1 Maizeid year using "Data/Interim/maize.dta"
drop if _merge==2
drop _merge
drop if lev2id==.
save "Data/Interim/addvar_pref.dta", replace

***Next, merge data at the county level
use "Data/Interim/samplemap_d.dta", clear
keep OBJECTID LEV2_PY AREA
encode LEV2_PY, gen(lev2id)
expand 262
bysort OBJECTID: gen year=_n+1649
sort year OBJECTID
*** Ruggedness
merge m:1 OBJECTID using "Data/Interim/ruggedness.dta"
drop _merge
*** Courier routes
merge m:1 OBJECTID using "Data/Interim/distcourier.dta"
drop _merge
*** Soldier
merge m:1 OBJECTID using "Data/Interim/soldier.dta"
replace soldier=0 if soldier==.
drop _merge
*** Crop suitability
merge m:1 OBJECTID using "Data/Interim/rice_suitability.dta"
drop _merge
merge m:1 OBJECTID using "Data/Interim/wheat_suitability.dta"
drop _merge
*** Climate
merge 1:1 OBJECTID year using "Data/Interim/mann_recon.dta"
drop _merge
*** Towns and Chong
merge m:1 OBJECTID using "Data/Interim/chong.dta"
drop _merge
merge m:1 OBJECTID using "Data/Interim/ctadmin.dta"
drop _merge
merge m:1 OBJECTID using "Data/Interim/town1820.dta"
drop _merge
merge m:1 OBJECTID using "Data/Interim/town1911.dta"
drop _merge
*** Intensity of Treatment
merge m:1 OBJECTID using "Data/Interim/canalden.dta"
drop _merge
*** Shipping Amount
merge m:1 year using "Data/Raw/amount.dta"
drop _merge
egen amount=rowtotal(shipping_main shipping_cost1 shipping_cost2 shipping_extra shipping_cost3 shipping_cost4) 
replace amount=. if amount==0
replace amount=amount/1000000
replace shipping_zj=shipping_zj/1000000
gen mtpl=amount/shipping_zj
su mtpl
local mtpl=r(mean)
replace amount=`mtpl'*shipping_zj if amount==.
replace shipping_zj=amount/`mtpl' if shipping_zj==.
gen lamount=ln(amount)
*** Fu level Variables
merge m:1 lev2id year using "Data/Interim/addvar_pref.dta"
drop _merge
save "Data/Interim/addvar.dta", replace

```

In [9]:
***First, merge data at the prefecture level
import excel using "Data/Raw/PrefwID.xlsx", firstrow clear // crosswalk between datasets, manually created by authors
keep lev2id Shpid Maizeid
gen oid=_n
expand 262
bysort oid: gen year=_n+1649
*** Taiping
merge m:1 Shpid using "Data/Interim/taiping.dta"
replace Taiping=0 if Taiping==.
drop _merge
*** Climate500
merge m:1 Maizeid year using "Data/Interim/climate500.dta"
drop if _merge==2
drop _merge
*** Grain Price
rename Maizeid id
merge m:1 id year using "Data/Raw/grainprice.dta"
drop if _merge==2
rename id Maizeid
drop _merge
label variable mp "Average Grain Price (Tael/KCal)"
*** Other variables from Chen and Kung (2016)
merge m:1 Maizeid year using "Data/Interim/maize.dta"
drop if _merge==2
drop _merge
drop if lev2id==.
save "Data/Interim/addvar_pref.dta", replace

(7 vars, 89 obs)



(23,229 observations created)



    Result                      Number of obs
    -----------------------------------------
    Not matched                           524
        from master                       524  (_merge==1)
        from using                          0  (_merge==2)

    Matched                            22,794  (_merge==3)
    -----------------------------------------

(524 real changes made)



    Result                      Number of obs
    -----------------------------------------
    Not matched                        51,352
        from master                     2,358  (_merge==1)
        from using                     48,994  (_merge==2)

    Matched                            20,960  (_merge==3)
    -----------------------------------------

(48,994 observations deleted)




    Result                      Number of obs
    -----------------------------------------
    Not matched                        10,979
        from master                    10,824  (_merge==1)
        from using                        155  (_merge==2)

    Matched                            12,494  (_merge==3)
    -----------------------------------------

(155 observations deleted)





    Result                      Number of obs
    -----------------------------------------
    Not matched                         2,358
        from master                     2,358  (_merge==1)
        from using                          0  (_merge==2)

    Matched                            20,960  (_merge==3)
    -----------------------------------------

(0 observations deleted)


(2,620 observations deleted)

(file Data/Interim/addvar_pref.dta not found)
file Data/Interim/addvar_pref.dta saved

In [10]:
***Next, merge data at the county level
use "Data/Interim/samplemap_d.dta", clear
keep OBJECTID LEV2_PY AREA
encode LEV2_PY, gen(lev2id)
expand 262
bysort OBJECTID: gen year=_n+1649
sort year OBJECTID
*** Ruggedness
merge m:1 OBJECTID using "Data/Interim/ruggedness.dta"
drop _merge
*** Courier routes
merge m:1 OBJECTID using "Data/Interim/distcourier.dta"
drop _merge
*** Soldier
merge m:1 OBJECTID using "Data/Interim/soldier.dta"
replace soldier=0 if soldier==.
drop _merge
*** Crop suitability
merge m:1 OBJECTID using "Data/Interim/rice_suitability.dta"
drop _merge
merge m:1 OBJECTID using "Data/Interim/wheat_suitability.dta"
drop _merge
*** Climate
merge 1:1 OBJECTID year using "Data/Interim/mann_recon.dta"
drop _merge
*** Towns and Chong
merge m:1 OBJECTID using "Data/Interim/chong.dta"
drop _merge
merge m:1 OBJECTID using "Data/Interim/ctadmin.dta"
drop _merge
merge m:1 OBJECTID using "Data/Interim/town1820.dta"
drop _merge
merge m:1 OBJECTID using "Data/Interim/town1911.dta"
drop _merge
*** Intensity of Treatment
merge m:1 OBJECTID using "Data/Interim/canalden.dta"
drop _merge
*** Shipping Amount
merge m:1 year using "Data/Raw/amount.dta"
drop _merge
egen amount=rowtotal(shipping_main shipping_cost1 shipping_cost2 shipping_extra shipping_cost3 shipping_cost4) 
replace amount=. if amount==0
replace amount=amount/1000000
replace shipping_zj=shipping_zj/1000000
gen mtpl=amount/shipping_zj
su mtpl
local mtpl=r(mean)
replace amount=`mtpl'*shipping_zj if amount==.
replace shipping_zj=amount/`mtpl' if shipping_zj==.
gen lamount=ln(amount)
*** Fu level Variables
merge m:1 lev2id year using "Data/Interim/addvar_pref.dta"
drop _merge
save "Data/Interim/addvar.dta", replace

(150,075 observations created)



(variable OBJECTID was int, now float to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                       111,874
        from master                   111,874  (_merge==1)
        from using                          0  (_merge==2)

    Matched                            38,776  (_merge==3)
    -----------------------------------------

(111,874 real changes made)



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------


(variable _ID was int, now long to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                        75,325
        from master                    75,325  (_merge==1)
        from using                          0  (_merge==2)

    Matched                            75,325  (_merge==3)
    -----------------------------------------



(121,900 real changes made, 121,900 to missing)

(28,750 real changes made)

variable shipping_zj was long now double
(61,525 real changes made)

(135,700 missing values generated)


    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
        mtpl |     14,950    5.383722    1.267132    3.36042   9.353113


(46,575 real changes made)

(13,800 real changes made)

(75,325 missing values generated)


    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------


(file Data/Interim/addvar.dta not found)
file Data/Interim/addvar.dta saved

## Step 6: Merge the Additional variables to the Main dataset

```stata
*****************************************************************
*** Step 6: Merge the Additional variables to the Main dataset
*****************************************************************
use "Data/Interim/rebellion_temp1.dta", clear 
merge 1:1 OBJECTID year using "Data/Interim/addvar.dta"
drop _merge
*** Define Treatment Measure
recode year (1650/1660=1) (1661/1722=2) (1723/1735=3) (1736/1795=4) (1796/1820=5) ///
			(1821/1849=6) (1850/1861=7) (1862/1874=8) (1875/1908=9) (1909/1911=10) ///
			,gen(emperor)
label variable emperor "Emperor on the Throne"
*** Define interactions with density
replace interaction2=canal_length*reform
label variable interaction2 "Canal Length $\times$ After Abandonment"
*** Label
label variable onset_any "Presence"
label variable onset_all "Number"
*** Set Panel
sort OBJECTID year
xtset OBJECTID year
save "Data/Interim/rebellion_temp2.dta", replace

```

In [11]:
*****************************************************************
*** Step 6: Merge the Additional variables to the Main dataset
*****************************************************************
use "Data/Interim/rebellion_temp1.dta", clear 
merge 1:1 OBJECTID year using "Data/Interim/addvar.dta"
drop _merge
*** Define Treatment Measure
recode year (1650/1660=1) (1661/1722=2) (1723/1735=3) (1736/1795=4) (1796/1820=5) ///
			(1821/1849=6) (1850/1861=7) (1862/1874=8) (1875/1908=9) (1909/1911=10) ///
			,gen(emperor)
label variable emperor "Emperor on the Throne"
*** Define interactions with density
replace interaction2=canal_length*reform
label variable interaction2 "Canal Length $\times$ After Abandonment"
*** Label
label variable onset_any "Presence"
label variable onset_all "Number"
*** Set Panel
sort OBJECTID year
xtset OBJECTID year
save "Data/Interim/rebellion_temp2.dta", replace

(variable OBJECTID was int, now float to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------


(150650 differences between year and emperor)


(48,676 real changes made)






Panel variable: OBJECTID (strongly balanced)
 Time variable: year, 1650 to 1911
         Delta: 1 unit

(file Data/Interim/rebellion_temp2.dta not found)
file Data/Interim/rebellion_temp2.dta saved

## Step 7: Another set of variables to add
```stata
*****************************************************************
*** Step 7: Another set of variables to add
*****************************************************************
*** The old yellow river
import excel using "Data/Raw/oldyellowriver.xls", firstrow clear
keep OBJECTID NEAR_DIST NEAR_ANGLE
rename NEAR_DIST distance_oldhuang
rename NEAR_ANGLE angle_oldhuang 
label variable distance_oldhuang "Distance to Old Yellow River (unknown units)"
gen along_oldhuang=(distance_oldhuang==0)
drop distance_oldhuang
save "Data/Interim/oldyellow.dta", replace

*** Green Gang
import excel using "Data/Raw/Addvar2.xlsx", firstrow clear
keep OBJECTID LEV1_CH LEV2_CH associations_pref boats_prov green_senior Pref_capital
replace green_senior=0 if green_senior==.
replace Pref_capital=0 if Pref_capital==.
rename Pref_capital pref_capital
recode boats_prov (1638=21) (1538=21) (1258=16) (688=9) (709=9) (187=1) (800.8=10.5) (310=4), gen(n_gangs)
gen boats_gang=boats_prov/n_gangs
sort LEV2_CH associations_pref boats_prov
by LEV2_CH associations_pref boats_prov: egen n_associations=count(OBJECTID)
gen associations_exp=associations_pref/n_associations
replace associations_exp=associations_exp/4 if inlist(OBJECTID,902,878,835,815)
replace associations_exp=1 if inlist(OBJECTID,1103,1115,1065,1062)
replace associations_exp=0 if associations_exp==.
replace boats_gang=310/4 if inlist(OBJECTID,1103,1115,1065,1062)
replace boats_gang=0 if boats_gang==.
gen boats_exp=associations_exp*boats_gang
drop n_gangs boats_gang n_associations associations_pref boats_prov
label variable green_senior "Senior Green Gang Members"
label variable pref_capital "Prefecture Capital"
label variable associations_exp "Expected Number of Boatmen's Associations"
label variable boats_exp "Expected Number of Registered Grain Transportation Boats"
save "Data/Interim/addvar2.dta", replace

*** Merge these variables to the main dataset
use "Data/Interim/rebellion_temp2.dta", clear 

**** The old yellow river
merge m:1 OBJECTID using "Data/Interim/oldyellow.dta"
drop _merge
**** Green Gang
merge m:1 OBJECTID using "Data/Interim/addvar2.dta"
drop _merge

*** Organize and Save data
save "Data/Interim/rebellion_temp3.dta", replace
```

In [12]:
*** The old yellow river
import excel using "Data/Raw/oldyellowriver.xls", firstrow clear
keep OBJECTID NEAR_DIST NEAR_ANGLE
rename NEAR_DIST distance_oldhuang
rename NEAR_ANGLE angle_oldhuang 
label variable distance_oldhuang "Distance to Old Yellow River (unknown units)"
gen along_oldhuang=(distance_oldhuang==0)
drop distance_oldhuang
save "Data/Interim/oldyellow.dta", replace

(37 vars, 575 obs)







(file Data/Interim/oldyellow.dta not found)
file Data/Interim/oldyellow.dta saved

In [13]:
*** Green Gang
import excel using "Data/Raw/Addvar2.xlsx", firstrow clear
keep OBJECTID LEV1_CH LEV2_CH associations_pref boats_prov green_senior Pref_capital
replace green_senior=0 if green_senior==.
replace Pref_capital=0 if Pref_capital==.
rename Pref_capital pref_capital
recode boats_prov (1638=21) (1538=21) (1258=16) (688=9) (709=9) (187=1) (800.8=10.5) (310=4), gen(n_gangs)
gen boats_gang=boats_prov/n_gangs
sort LEV2_CH associations_pref boats_prov
by LEV2_CH associations_pref boats_prov: egen n_associations=count(OBJECTID)
gen associations_exp=associations_pref/n_associations
replace associations_exp=associations_exp/4 if inlist(OBJECTID,902,878,835,815)
replace associations_exp=1 if inlist(OBJECTID,1103,1115,1065,1062)
replace associations_exp=0 if associations_exp==.
replace boats_gang=310/4 if inlist(OBJECTID,1103,1115,1065,1062)
replace boats_gang=0 if boats_gang==.
gen boats_exp=associations_exp*boats_gang
drop n_gangs boats_gang n_associations associations_pref boats_prov
label variable green_senior "Senior Green Gang Members"
label variable pref_capital "Prefecture Capital"
label variable associations_exp "Expected Number of Boatmen's Associations"
label variable boats_exp "Expected Number of Registered Grain Transportation Boats"
save "Data/Interim/addvar2.dta", replace

(11 vars, 575 obs)


(519 real changes made)

(495 real changes made)


(254 differences between boats_prov and n_gangs)

(226 missing values generated)



(225 missing values generated)

(4 real changes made)

(3 real changes made)

(225 real changes made)

(3 real changes made)

(226 real changes made)







(file Data/Interim/addvar2.dta not found)
file Data/Interim/addvar2.dta saved

In [14]:
*** Merge these variables to the main dataset
use "Data/Interim/rebellion_temp2.dta", clear 

**** The old yellow river
merge m:1 OBJECTID using "Data/Interim/oldyellow.dta"
drop _merge
**** Green Gang
merge m:1 OBJECTID using "Data/Interim/addvar2.dta"
drop _merge

*** Organize and Save data
save "Data/Interim/rebellion_temp3.dta", replace

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------


(file Data/Interim/rebellion_temp3.dta not found)
file Data/Interim/rebellion_temp3.dta saved

## Step 8: Final set of variables

```stata
*****************************************************************
*** Step 8: Final set of variables
*****************************************************************
use "Data/Interim/rebellion_temp3.dta", clear

*** First Opium War battle fields
gen opiumbattle=inlist(OBJECTID,522,716,478,548,704,505)
*** Ming population
tempfile countypop_ming
preserve
    import excel using "Data/Raw/countypop_ming.xls", firstrow clear
    rename OBJECTID OBJECTID1
    rename SPLITID OBJECTID2
    reshape long OBJECTID, i(ID_MING) j(cw)
    sort OBJECTID cw ID_MING household
    save "`countypop_ming'.dta", replace
restore
tempfile cntypop
preserve
    duplicates drop OBJECTID, force
    keep OBJECTID prefid area_pref AREA popden*
    merge 1:m OBJECTID using "`countypop_ming'.dta", nogen keep(1 3)
    collapse (sum) household (first) ID_MING prefid area_pref AREA popden*, by(OBJECTID)
    bysort ID_MING: egen area_beforesplit=total(AREA)
    replace household=(household*AREA/area_beforesplit)
    bysort prefid: egen totalarea=total(AREA)
    bysort prefid: egen totalhh=total(household)
    gen popden1368=totalhh*4/totalarea
    replace popden1368=. if popden1368==0
    foreach y of numlist 1600 1776 1820 1851 1880 1910 {
        gen cntypop`y'=household*4*popden`y'/popden1368
        replace cntypop`y'=popden`y'*AREA if cntypop`y'==.
    }
    rename household household1368
    keep OBJECTID popden1368 household cntypop*
    save "`cntypop'.dta", replace
restore
merge m:1 OBJECTID using "`cntypop'.dta", assert(3)

*** Additional geographic measures
preserve
tempfile temp_1
import excel using "Data/Raw/lengths/Ming_Routes_2016_Identity_St1_TableToExcel.xls", firstrow clear
drop FREQUENCY-SUM_length OBJECTID
save "`temp_1'.dta", replace

tempfile temp_2
import excel using "Data/Raw/lengths/chgis_1820_county_seat_TableToExcel.xls", firstrow clear
keep NAME_PY NAME_CH LEV2_CH NEAR_DIST
egen merge_id=concat(NAME_CH LEV2_CH)
duplicates drop merge_id, force
save "`temp_2'.dta", replace

tempfile temp_3
import excel using "Data/Raw/lengths/Changjiang_Output_Identity_S_TableToExcel.xls", firstrow clear
drop FREQUENCY-SUM_length OBJECTID
drop in 1
save "`temp_3'.dta", replace

tempfile distanceto_changjiang
import excel using "Data/Raw/lengths/v4_1911_cnty_pgn_gbk_TableToExcel.xls", firstrow clear
keep OBJECTID NAME_PY NAME_CH LEV2_CH
egen merge_id=concat(NAME_CH LEV2_CH)
duplicates drop merge_id, force
rename NAME_CH NAME_CH_yizhan
rename NAME_PY NAME_PY_yizhan
rename LEV2_CH LEV2_CH_yizhan
merge 1:1 merge_id using "`temp_2'.dta", keep(3)
keep OBJECTID NEAR_DIST
rename NEAR_DIST distanceto_changjiang
replace distanceto_changjiang=distanceto_changjiang/1000
save "`distanceto_changjiang'.dta", replace

tempfile courier_length
import excel using "Data/Raw/lengths/v4_1911_cnty_pgn_gbk_TableToExcel.xls", firstrow clear
keep OBJECTID NAME_PY NAME_CH LEV2_PY
duplicates drop NAME_CH, force
merge 1:1 NAME_CH using "`temp_1'.dta", keep(3)
drop _merge
sort OBJECTID

rename NAME_CH NAME_CH_yizhan
rename NAME_PY NAME_PY_yizhan
rename LEV2_PY LEV2_PY_yizhan
save "`courier_length'.dta", replace

tempfile jingneichangjiang_length
import excel using "Data/Raw/lengths/v4_1911_cnty_pgn_gbk_TableToExcel.xls", firstrow clear
keep OBJECTID NAME_PY NAME_CH LEV2_PY
duplicates drop NAME_CH, force
merge 1:1 NAME_CH using "`temp_3'.dta", keep(3)
drop _merge
sort OBJECTID

rename NAME_CH NAME_CH_yizhan
rename NAME_PY NAME_PY_yizhan
rename LEV2_PY LEV2_PY_yizhan
save "`jingneichangjiang_length'.dta", replace
restore

drop _merge
merge m:1 OBJECTID using "`courier_length'.dta"
drop if _merge==2
drop _merge NAME_CH_yizhan NAME_PY_yizhan LEV2_PY_yizhan
replace courier_length=0 if courier_length==.
merge m:1 OBJECTID using "`distanceto_changjiang'.dta"
drop if _merge==2 
drop _merge
merge m:1 OBJECTID using "`jingneichangjiang_length'.dta"
drop if _merge==2
drop _merge NAME_CH_yizhan NAME_PY_yizhan LEV2_PY_yizhan
replace changjiang_jingnei=0 if changjiang_jingnei==.
save "Data/Final/rebellion.dta", replace
```

In [15]:
use "Data/Interim/rebellion_temp3.dta", clear

*** First Opium War battle fields
gen opiumbattle=inlist(OBJECTID,522,716,478,548,704,505)
*** Ming population
tempfile countypop_ming
preserve
    import excel using "Data/Raw/countypop_ming.xls", firstrow clear
    rename OBJECTID OBJECTID1
    rename SPLITID OBJECTID2
    reshape long OBJECTID, i(ID_MING) j(cw)
    sort OBJECTID cw ID_MING household
    save "`countypop_ming'.dta", replace
restore
tempfile cntypop
preserve
    duplicates drop OBJECTID, force
    keep OBJECTID prefid area_pref AREA popden*
    merge 1:m OBJECTID using "`countypop_ming'.dta", nogen keep(1 3)
    collapse (sum) household (first) ID_MING prefid area_pref AREA popden*, by(OBJECTID)
    bysort ID_MING: egen area_beforesplit=total(AREA)
    replace household=(household*AREA/area_beforesplit)
    bysort prefid: egen totalarea=total(AREA)
    bysort prefid: egen totalhh=total(household)
    gen popden1368=totalhh*4/totalarea
    replace popden1368=. if popden1368==0
    foreach y of numlist 1600 1776 1820 1851 1880 1910 {
        gen cntypop`y'=household*4*popden`y'/popden1368
        replace cntypop`y'=popden`y'*AREA if cntypop`y'==.
    }
    rename household household1368
    keep OBJECTID popden1368 household cntypop*
    save "`cntypop'.dta", replace
restore
merge m:1 OBJECTID using "`cntypop'.dta", assert(3)

(4 vars, 519 obs)



(j = 1 2)

Data                               Wide   ->   Long
-----------------------------------------------------------------------------
Number of observations              519   ->   1,038
Number of variables                   4   ->   4
j variable (2 values)                     ->   cw
xij variables:
                    OBJECTID1 OBJECTID2   ->   OBJECTID
-----------------------------------------------------------------------------


(file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000001.dta not
    found)
file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000001.dta
    saved





Duplicates in terms of OBJECTID

(150,075 observations deleted)



    Result                      Number of obs
    -----------------------------------------
    Not matched                            43
        from master                        43
        from using                          0

    Matched                               534
    -----------------------------------------



(28 real changes made)




(21 real changes made, 21 to missing)

(28 missing values generated)
(10 real changes made)
(28 missing values generated)
(16 real changes made)
(28 missing values generated)
(16 real changes made)
(28 missing values generated)
(16 real changes made)
(28 missing values generated)
(16 real changes made)
(28 missing values generated)
(16 real changes made)



(file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000003.dta not
    found)
file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000003.dta
    saved



    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                           150,650  (_merge==3)
    -----------------------------------------

In [16]:
*** Additional geographic measures
preserve
tempfile temp_1
import excel using "Data/Raw/lengths/Ming_Routes_2016_Identity_St1_TableToExcel.xls", firstrow clear
drop FREQUENCY-SUM_length OBJECTID
save "`temp_1'.dta", replace

tempfile temp_2
import excel using "Data/Raw/lengths/chgis_1820_county_seat_TableToExcel.xls", firstrow clear
keep NAME_PY NAME_CH LEV2_CH NEAR_DIST
egen merge_id=concat(NAME_CH LEV2_CH)
duplicates drop merge_id, force
save "`temp_2'.dta", replace

tempfile temp_3
import excel using "Data/Raw/lengths/Changjiang_Output_Identity_S_TableToExcel.xls", firstrow clear
drop FREQUENCY-SUM_length OBJECTID
drop in 1
save "`temp_3'.dta", replace

tempfile distanceto_changjiang
import excel using "Data/Raw/lengths/v4_1911_cnty_pgn_gbk_TableToExcel.xls", firstrow clear
keep OBJECTID NAME_PY NAME_CH LEV2_CH
egen merge_id=concat(NAME_CH LEV2_CH)
duplicates drop merge_id, force
rename NAME_CH NAME_CH_yizhan
rename NAME_PY NAME_PY_yizhan
rename LEV2_CH LEV2_CH_yizhan
merge 1:1 merge_id using "`temp_2'.dta", keep(3)
keep OBJECTID NEAR_DIST
rename NEAR_DIST distanceto_changjiang
replace distanceto_changjiang=distanceto_changjiang/1000
save "`distanceto_changjiang'.dta", replace

tempfile courier_length
import excel using "Data/Raw/lengths/v4_1911_cnty_pgn_gbk_TableToExcel.xls", firstrow clear
keep OBJECTID NAME_PY NAME_CH LEV2_PY
duplicates drop NAME_CH, force
merge 1:1 NAME_CH using "`temp_1'.dta", keep(3)
drop _merge
sort OBJECTID

rename NAME_CH NAME_CH_yizhan
rename NAME_PY NAME_PY_yizhan
rename LEV2_PY LEV2_PY_yizhan
save "`courier_length'.dta", replace

tempfile jingneichangjiang_length
import excel using "Data/Raw/lengths/v4_1911_cnty_pgn_gbk_TableToExcel.xls", firstrow clear
keep OBJECTID NAME_PY NAME_CH LEV2_PY
duplicates drop NAME_CH, force
merge 1:1 NAME_CH using "`temp_3'.dta", keep(3)
drop _merge
sort OBJECTID

rename NAME_CH NAME_CH_yizhan
rename NAME_PY NAME_PY_yizhan
rename LEV2_PY LEV2_PY_yizhan
save "`jingneichangjiang_length'.dta", replace
restore

drop _merge
merge m:1 OBJECTID using "`courier_length'.dta"
drop if _merge==2
drop _merge NAME_CH_yizhan NAME_PY_yizhan LEV2_PY_yizhan
replace courier_length=0 if courier_length==.
merge m:1 OBJECTID using "`distanceto_changjiang'.dta"
drop if _merge==2 
drop _merge
merge m:1 OBJECTID using "`jingneichangjiang_length'.dta"
drop if _merge==2
drop _merge NAME_CH_yizhan NAME_PY_yizhan LEV2_PY_yizhan
replace changjiang_jingnei=0 if changjiang_jingnei==.
save "Data/Final/rebellion.dta", replace

(5 vars, 811 obs)


(file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000006.dta not
    found)
file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000006.dta
    saved


(32 vars, 1,859 obs)




Duplicates in terms of merge_id

(3 observations deleted)

(file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000007.dta not
    found)
file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000007.dta
    saved


(5 vars, 74 obs)


(1 observation deleted)

(file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000008.dta not
    found)
file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000008.dta
    saved


(30 vars, 1,502 obs)




Duplicates in terms of merge_id

(1 observation deleted)




(variable merge_id was str36, now str48 to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                             1,267  (_merge==3)
    -----------------------------------------



(1,267 real changes made)

(file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000009.dta not
    found)
file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.000009.dta
    saved


(30 vars, 1,502 obs)



Duplicates in terms of NAME_CH

(72 observations deleted)


    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                               811  (_merge==3)
    -----------------------------------------






(file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.00000a.dta not
    found)
file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.00000a.dta
    saved


(30 vars, 1,502 obs)



Duplicates in terms of NAME_CH

(72 observations deleted)


    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                                73  (_merge==3)
    -----------------------------------------






(file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.00000b.dta not
    found)
file /var/folders/l6/ntr5b4610hx38gy0_2xp7ngh0000gn/T//St54490.00000b.dta
    saved




    Result                      Number of obs
    -----------------------------------------
    Not matched                        80,451
        from master                    79,910  (_merge==1)
        from using                        541  (_merge==2)

    Matched                            70,740  (_merge==3)
    -----------------------------------------

(541 observations deleted)


(79,910 real changes made)


    Result                      Number of obs
    -----------------------------------------
    Not matched                        14,631
        from master                    13,886  (_merge==1)
        from using                        745  (_merge==2)

    Matched                           136,764  (_merge==3)
    -----------------------------------------

(745 observations deleted)



    Result                      Number of obs
    -----------------------------------------
    Not matched                       143,096
        from master                   143,052  (_merge==1)
        from using                         44  (_merge==2)

    Matched                             7,598  (_merge==3)
    -----------------------------------------

(44 observations deleted)


(143,052 real changes made)

(file Data/Final/rebellion.dta not found)
file Data/Final/rebellion.dta saved

## other

In [14]:
use "/Data/Final/rebellion.dta", clear

file /Data/Final/rebellion.dta not found

r(601);

In [18]:
shp2dta using "Data/Raw/countyadmin/countyadmin", database("Data/Interim/ctadmin_d") coordinates("Data/Interim/ctadmin_c") replace

r; t=0.00 22:25:37
Data/Raw/countyadmin/countyadmin.shp: point, polyine, or polygon shapefile requi
> red

r(610);

 t=1.07 22:55:07

In [ ]:
run "Program/Analysis/generalsetup.do"

In [ ]:

graph set window fontface "Cambria"
set scheme s2color